# Dependencies
node_modules/
**/node_modules/

# Angular build output
dist/
**/dist/
.angular/
**/.angular/

# Environment files
*.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
**/.vscode/

# Logs
*.log
npm-debug.log*
