<div class="users-list-container">
  <form class="search-form" [formGroup]="searchForm">
    <input type="text" placeholder="Name" formControlName="name" />
    <input type="text" placeholder="ID" formControlName="id" />
    <input type="text" placeholder="Company" formControlName="company" />
    <button
      type="submit"
      [disabled]="searchForm.invalid"
      (click)="addUser($event)"
    >
      Add User
    </button>
  </form>

  <ng-container *ngIf="!loading; else loadingTemplate">
    <div class="users-list" *ngIf="users.length; else noUsers">
      <div class="user" *ngFor="let user of users; trackBy: trackByFn">
        <div class="user-header">
          <h2>{{ user.name }}</h2>
          <button
            type="button"
            class="delete-button"
            (click)="deleteUser(user.id)"
          >
            Delete
          </button>
        </div>
        <p>{{ user.id }}</p>
        <span>{{ user.company }}</span>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loadingTemplate>
  <p>Loading users...</p>
</ng-template>

<ng-template #noUsers>
  <p>No users found...</p>
</ng-template>
